---
import PillButton from '../pillButton/pillButton.astro';
import './style.scss';
---

<div class="aboutHero">
    <div class="title">
        <span>Hey,</span>
        <span>I'm Harshil</span>
    </div>

    <div class="content">
        <div class="left">
            <div class="story">
                I have been on a journey of learning and growing, with 9 years of experience working
                with teams from agencies, startups, and small businesses and 
                large enterprises on  various projects.
            </div>

            <div class="story">
                I have learned software development formally in college, but 
                mostly through my first job. Working with a variety of clients on 
                projects ranging from revolutionising TV ad targeting to helping companies 
                hire the best graduates from cross the country. These experiences have provided 
                me with the knowledge and skills needed to succeed in engineering.
            </div>

            <div class="story">
                In my spare time, I enjoy bird photography    , cycling, playing chess. 
                I love spending time in the high mountains of the Himalayas and often go
                 on treks far away from civilisation. Do check out my images at https://peakfocus.in/ 
            </div>
        </div>
        <div class="right">
            <PillButton>
                <span>Contact</span>
            </PillButton>
        </div>
    </div>
</div>
