---
import './style.scss';
import PillButton from "../pillButton/pillButton.astro";
import Icon from "../icon/icon.astro";

import chevron_down from '../../media/icons/chevron_down.svg?raw';
---

<script>
    import utils from '../../utils/utils.ts';

    document.querySelector('.scrollDownButton')?.addEventListener('click', () => {
        utils.smoothScrollTo('.intro', -100);
    });
</script>

<div class="hero">
    <div class="title">
        <span>Full Stack</span>
        <span>Developer</span>
    </div>
    <PillButton className="scrollDownButton">
        <span>SCROLL DOWN</span>
        <Icon image={chevron_down}/>
    </PillButton>
</div>
