---
import './style.scss';
import PillButton from "../pillButton/pillButton.astro";
import Icon from "../icon/icon.astro";

import chevron_down from '../../media/icons/chevron_down.svg?raw';
---

<div class="hero">
    <div class="title">
        <span>Full Stack</span>
        <span>Developer</span>
    </div>
    <PillButton>
        <span>SCROLL DOWN</span>
        <Icon image={chevron_down}/>
    </PillButton>
</div>
