---
import './style.scss';
---

<div class="expertise">
    <h1>Expertise</h1>

    <div class="row">
        <div class="section">
            <h2>Full Stack Engineering</h2>
            <p>Cras suscipit tortor et dui fringilla, nec iaculis ipsum vulputate. Aliquam iaculis, urna in fringilla consectetur, augue purus maximus neque, sed ultrices urna libero vel neque.</p>
        </div>

        <div class="section">
            <h2>Webapp Development</h2>
            <p>Cras suscipit tortor et dui fringilla, nec iaculis ipsum vulputate. Aliquam iaculis, urna in fringilla consectetur, augue purus maximus neque, sed ultrices urna libero vel neque.</p>
        </div>
    </div>

    <div class="row">
        <div class="section">
            <h2>Website Implementation</h2>
            <p>Cras suscipit tortor et dui fringilla, nec iaculis ipsum vulputate. Aliquam iaculis, urna in fringilla consectetur, augue purus maximus neque, sed ultrices urna libero vel neque. Nulla facilisi.</p>
        </div>

        <div class="section">
            <h2>Mattermost Plugins</h2>
            <p>Cras suscipit tortor et dui fringilla, nec iaculis ipsum vulputate. Aliquam iaculis, urna in fringilla consectetur, augue purus maximus neque, sed ultrices urna libero vel neque. Nulla facilisi. Ut et sollicitudin diam.</p>
        </div>
    </div>
</div>
