---
import { Image } from 'astro:assets';
import './style.scss';
import pattern from '../../media/topography.svg';
---

<div class="ticker">
    <div class="pattern" style=`mask-image: url(${pattern.src})`/>
</div>
