---
import './style.scss';

interface Props {
    image: any
    className?: string
}

const {image, className} = Astro.props;
---

<div class:list={["icon", className]}>
    <Fragment set:html={image}/>
</div>
