---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar/navbar.astro";
import Hero from "../components/hero/hero.astro";
import Intro from "../components/intro/intro.astro";
import Projects from "../components/projects/projects.astro";

---

<Layout title="Harshil">
    <div class="app">
        <Navbar/>
        <Hero/>
        <Intro/>
        <Projects/>
    </div>
</Layout>
