---
import './style.scss';
---

<div class="contactForm">
    <div class="header">
        <h1>Have a project idea?</h1>
        <h1>Let's discuss it together</h1>
    </div>
    <div class="form">
        <form>
            <input name="name" placeholder="Name" required/>
            <input name="email" placeholder="Your email address" required/>
            <textarea name="message" placeholder="Tell us more about your project" required/>
            <button type="submit">Send</button>
        </form>
    </div>
</div>
