.navbar {
  position: sticky;
  top: -60px;
  z-index: 1;

  &:before {
    content: '';
    mask-image: linear-gradient(to bottom, var(--color-bg) 80%, transparent 100%);
    box-shadow: 0 8px 32px 0 rgba(var(--color-bg), 1 );
    backdrop-filter: blur(40px);
    width: 100%;
    height: calc(100% + 40px);
    display: block;
    position: absolute;
    z-index: -1;
  }


  .navbarBody {
    margin: 0 auto;
    width: max-content;

    .navbar_menu {
      display: flex;
      flex-direction: row;
      gap: 10px;
      background: var(--color-mid);
      width: min-content;
      border-radius: 28px;
      font-size: 1rem;

      .navbar_option {
        border-radius: 28px;
        cursor: pointer;

        &.selected {
          background: var(--color-text);
          color: var(--color-bg);
        }

        &:hover:not(.selected) {
          background: hsl(from var(--color-mid) h s 20%);
        }

        span {
          transform: translateY(-50%);
        }

        a {
          color: inherit;
          padding: 12px 26px;
          display: block;
        }
      }
    }

    .navbar_title {
      margin: 0 auto;
      width: max-content;
      font-weight: bolder;
      font-size: 28px;
    }
  }
}
