body {
    --color-neon-green: #B9E31C;
    --color-bright-violet: #7A19F3;
    --color-pink: #EF5DA8;
    --color-lava-orange: #E3641B;
}

body.dark {
    --color-bg: black;
    --color-text: white;
    --color-mid: #141414;
}

body.light {
    --color-bg: white;
    --color-text: black;
}
