.pillButton {
  background-color: var(--color-mid);
  font-size: 20px;
  height: 100px;
  padding: 32px 42px;
  border-radius: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;

  cursor: pointer;

  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}
