---
import './style.scss';
---

<div class="intro">
    <div class="quickConnect">
        <div class="subtitle">
            <span>Let's Talk</span>
        </div>
        <div>
            <span>harshilsharma63@gmail.com</span>
        </div>
    </div>

    <div class="quickAbout">
        <div class="">
            <span>
                Hello, I'm Harshil, a full-stack developer focusing on <br/> web development, expert in frontend, backend, <br/> databases and cloud.
            </span>
        </div>
    </div>
</div>
