---
import './style.scss';
import Icon from '../icon/icon.astro';

import copy from '../../media/icons/copy.svg?raw';
---

<script>
    import utils from '../../utils/utils.ts';
    document.querySelector('.copyMailButton')?.addEventListener('click', (e) => {
        e.preventDefault();
        utils.copyEmailAddress(e);
    });

</script>

<div class="footer">
    <div class="row">
        <div class="left">
            <span>{new Date().getFullYear()} ©</span>
        </div>

        <div class="right">
            <div>
                <a href="https://github.com/harshilsharma63" target="_blank">GitHub</a>
            </div>
            <div>
                <a href="https://www.linkedin.com/in/harshilsharma63/" target="_blank">LinkedIn</a>
            </div>
            <div>
                <a href="https://www.upwork.com/" target="_blank">UpWork</a>
            </div>
            <div class="copyEmail">
                <a href="#" class="copyMailButton">Mail <Icon image={copy}/></a>

            </div>
        </div>
    </div>
</div>
