---
import './style.scss';
---

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

<div class="testimonials">
    <h1>Testimonials</h1>
    <swiper-container
        class="testimonialContainer" 
        slidesPerView="1"
        pagination="true"
        pagination-dynamic-bullets="true"
        autoplay="true"
        loop="true"
    >

        <swiper-slide class="testimonial">
            <div class="testimonialBody">
                <p>
                    “Harshil is a 'trustworthy enough' colleague who has high standards and can execute 
                    and prove them. When I work with him, I often feel like I'm depending on Sherlock Holmes, 
                    doggedly deducing and solving difficult problems. He has a keen analytical eye for clues, 
                    forward-thinking framework design abilities, and sophisticated engineering skills. 
                    I can confidently say that if you have the opportunity to work with him, you are very lucky.”
                </p>
            </div>
            <div class="testimonialAuthor">
                <span>Hyungcho Chung</span>
                <span>Founder and CEO, Scomot</span>
            </div>
        </swiper-slide>

        <swiper-slide class="testimonial">
            <div class="testimonialBody">
                <p>
                    “Harshil shows time and time again his growth mindset,
                    attention to detail, and wide technical knowledge. 
                    As an open source contributor to Mattermost, he built a cutting-edge 
                    plugin for teams to share daily stand-ups (featured on Product Hunt), and matured an 
                    integration with BigBlueButton, an open source video and screen sharing tool in the 
                    education space. Highly recommend Harshil as a team member and leader.”
                </p>
            </div>
            <div class="testimonialAuthor">
                <span>Jason Blais</span>
                <span>VP Program Management, Mattermost</span>
            </div>
        </swiper-slide>

        <swiper-slide class="testimonial">
            <div class="testimonialBody">
                <p>
                    “Harshil's technical expertise is truly exceptional, and he has consistently
                    proven his ability to execute with high standards.
                    His professionalism and diligence were evident when we worked together
                    across several complex integration projects. Beyond his technical prowess,
                    Harshil is a person of integrity, dedication, and solid leadership skills.”
                </p>
            </div>
            <div class="testimonialAuthor">
                <span>Michael DeBonis</span>
                <span>Co Founder, Brightscout</span>
            </div>
        </swiper-slide>

        <swiper-slide class="testimonial">
            <div class="testimonialBody">
                <p>
                    “I am delighted to recommend Harshil for any role that requires a talented and 
                    dedicated software engineer. I have had the pleasure of working closely with him 
                    on Scomot projects, I can confidently attest to his exceptional technical expertise 
                    and unwavering commitment to delivering high-quality solutions. He is 
                     not just a skilled professional but also a person of integrity and dedication. 
                     I wholeheartedly recommend him and am confident he will be valuable to any organization.”
                </p>
            </div>
            <div class="testimonialAuthor">
                <span>Juhun Lee</span>
                <span>Head of Finance and Corporate Strategy at Scomot</span>
            </div>
        </swiper-slide>
    </swiper-container>

    <div class="swiper-pagination"></div>
</div>
