---
import '../style/colors.scss';
import '../style/global.scss';
import '../style/typography.scss';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet" href="node_modules/modern-normalize/modern-normalize.css">
		<link rel="stylesheet" href="https://use.typekit.net/xis4ylh.css">
	</head>
	<body class="dark">
		<slot />
	</body>
</html>
